body {
    font-family: 'Roboto', sans-serif;
}


.callout-container {
    height: 100vh;

    background: ur('../images/cover.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.jumbotron-container {
    display: flex;
    align-items:center;
    justify-content: center;
}

/* Navbar */

.navbar {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: red;
    border: 0;
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .navbar-toggle {
    border: 0;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar .navbar-brand {
    font-weight: bold;
    color: red;
}

.navbar .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-nav a {
    font-weight: bold;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background: red;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.navbar-btn {
    border: 0;
    border-radius: 16px;
    width: 100px;
    background-color: #f05f40;
    color: white;
}

.navbar-btn:hover {
    background-color: #df4929;
    border-color: #df4929;
    color: white;
}



/* Features */

.feature {
    text-align: center;
    margin-bottom: 40px;
}



/* Jumbotron */


.jumbotron {
    background-color: #e6f9ff;
}


.jumbotron h1  {
    color: tomato;
    font-weight: bold;
    margin-bottom: 30px;
    color: tomato;
    
}

/* Gallery.html background */

.jumbotron {
    background-color: #e6f9ff ;
}

/*--------------------------------------------------------------Media Queries*/
@media (min-width:762px) {
    .column {
        background-color: #e84610;
        width:30%;
        margin:10px;
        
    }
    

@media(min-width: 992px) {
.section-colum {
    padding: 0 30px 30px;
    float: none;
    display: table-cell;
    
    }
    
    
    .center-form {
 padding-top: 30px;
 min-height: 240px;
 margin: 0 auto;
 max-width: 50%;
    
}
}
