body {
	font-family: 'Roboto', sans-serif;
	height: 100%;
	background-color: #e6f9ff;
	width: 100%;
}

.callout-container {
	height: 100vh;
	background: ur('../images/cover.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.jumbotron-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
}


/* Navbar */

.navbar {
	margin-bottom: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	background-color: red;
	border: 0;
}

.navbar-default .navbar-collapse-1 {
	border-color: transparent;
	width: 100%;
}

.navbar-default .navbar-nav a {
	font-weight: bold;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
	color: white;
	background: red;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
	color: white;
}

.navbar-default .navbar-nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0px;
	overflow: hidden;
	background-color: red;
	color: white;
	width: 100%;
	text-align: center;
}

.navbar-default .navbar-nav li {
	display: inline-block;
	text-align: center;
	margin: auto;
	vertical-align: middle;
}

.navbar-default .navbar-nav li a {
	display: inline-block;
	color: white;
	text-align: center;
	vertical-align: middle;
	padding: 20px;
	text-decoration: none;
	width: 100%;
}


/* Navbar social media icons */

.navbar .socials li {
	display: inline-block;
	line-height: 60px;
	font-size: 18px;
	padding: 0 5px;
}

.navbar .socials li a {
	color: #555;
}

.navbar .socials li a:hover {
	color: #fff;
}


/* Sign up buttons. */

.signupbtn-btn-lg {
	color: blue;
}

.container-textarea {
	width: 160px;
}


/* Music.html grid system */

.col-6 .col-md-4 .iframe {
	background-color: #e6f9ff;
	align-items: center;
	justify-content: center;
	display: block;
	padding-bottom: 100px;
}


/* Jumbotron */

.jumbotron {
	background-color: #e6f9ff;
}

.jumbotron h1 {
	font-weight: bold;
	margin-bottom: 30px;
	color: Red;
}


/* Gallery.html background */

.jumbotron {
	background-color: #e6f9ff;
}

.center-block {
	background-color: #e6f9ff;
	padding: 5px;
	margin: 25px;
	list-style-image: none;
	display: block;
}

.col-sm-12 .Col-md-6 {
	border: 25px solid #e6f9ff;
	width: 100%;
	align-items: center;
	justify-content: center;
	padding-bottom: 5px;
	text-align: center;
}

.img {
	width: 100%;
	height: auto;
	align-items: center;
	justify-content: center;
}


/* contact form */

input {
	border: 2px solid red;
	border-right:1px solid red;
	border-top-right-radius: 5px;
  	border-top-left-radius: 5px;
  	border-bottom-left-radius: 5px;
  	border-bottom-right-radius: 5px;
}

textarea {
	width: 100%;
	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid red;
	border-radius: 4px;
	background-color: #f8f8f8;
	resize: none;
	text-align: center;
	align-items:center;
	justify-content: center;
}

/* footer */

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: red;
	color: white;
	text-align: center;
	height: 35px;
}

/* Media Queires */

@media (min-width: 576px) {
	.col-xs-12 .col-md-8  .col-md-4 {
		
	
	}
	.col-xs-12 .col-md-6 {
	
	} 
	.iframe {
	}
}

@media (min-width: 768px) {
	.col-xs-12 .col-md-8  .col-md-4 {
		
	
	}
	.col-xs-12 .col-md-6 {
	
	} 
	.iframe {
	}
	
}

@media (min-width: 992px) {
	
}
